# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/
ENV/

# Environment files
.env
.env.*
!.env.example

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Build / packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
